@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 300;
  margin: 0;
}

header {
  align-items: center;
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}

.title {
  text-transform: uppercase;
}

#title-color {
  color: #34D1D1;
}

#student-name {
  font-size: 1.5rem;
  font-weight: 600;
}

article {
  margin: 80px 0;
  text-align: center;
}

.article-title {
  line-height: 0;
  margin: 80px 0 90px 70px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.article-title span {
  display: inline-block;
  position: relative;
  width: 100%;
}

.article-title span:after {
  content: "";
  position: absolute;
  margin-left: 50px;
  margin-right: 70px;
  border-bottom: 1px solid #666;
  width: 74%;
}

@media screen and (max-width: 600px) {
  header {
    display: block;
    text-align: center;
  }

  .title {
    margin-bottom: 10px;
  }

  .border {
    width: 100px;
    border-bottom: 1px solid #D1D2D3;
    margin: auto;
  }

  #student-name {
    margin-top: 10px;
  }

  .article-title {
    margin-left: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .article-title span:after {
    display: none;
  }

  .top-nav {
    margin-top: 40px;
  }
}

/*ACCORDION TABS*/

.accordion-tab-article {
  margin: 0 auto;
  margin-bottom: 150px;
}

.accordion-tab {
  margin: 40px 0 100px 0;
}

.tabs {
  display: flex;
  margin: auto;
  width: 80%;
}

.tabs h3 {
  color: #666;
  font-size: 1.2rem;
  height: 70px;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.mobile {
  display: none;
}

.button-active {
  border: 1px solid #666;
  border-bottom: none;
  font-weight: 600;
}

.button-inactive {
  background-color: #D1D2D3;
  border: 1px solid #FFF;
  border-bottom: 1px solid #666;
}

.tab-content {
  border: 1px solid #666;
  border-top: none;
  margin: auto;
  padding: 30px 25px;
  width: 80%;
}

.tab-content.active {
  display: flex;
}

.tab-content.inactive {
  display: none;
}

.tab-content-left {
  background-image: url('http://via.placeholder.com/250x300');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 475px;
  margin-right: 30px;
  min-width: 375px;
}

.tab-content-right {
  padding: 20px 0;
  text-align: left;
}

.tab-content h3 {
  border-bottom: 1px solid #666;
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.tab-content p {
  font-size: 1.2rem;
  margin-top: 20px;
}

.view-code-button {
  background-color: #2F2235;
  border: none;
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 15px 150px;  
}

@media screen and (max-width: 800px) {
  .tabs {
    display: none;
  }

  .button-active {
    border: none;
  }

  .mobile {
    border: none;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    color: #666;
    display: block;
    font-size: 1.2rem;
    height: 70px;
    margin: auto;
    padding: 20px;
    text-align: left;
    width: 80%;
  }

  .tab-4-mobile {
    border-bottom: 1px solid #666;
  }

  .tab-content {
    border-top: 1px solid #666;
    border-bottom: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }

  .tab-content-left {
    height: 300px;
  }

  .tab-content-left,
  .tab-content-right {
    margin: 0;
    min-width: 0;
    width: 100%;
  }

  .tab-content-right {
    padding: 40px;
  }

}

/*FLEXIBLE CARDS*/

.flexible-cards {
  margin-bottom: 150px;
}

.flexible-cards-display {
  width: 80%;
  margin: 40px auto 100px auto;
}

.row-1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2.05fr 1fr;
  margin-bottom: 20px;
}

.row-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.row-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2.05fr;
}

.flex-card {
  border: 1px solid black;
  min-width: 0;
}

.image-title {
  padding: 20px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  font-weight: 600;
  font-size: 1.6rem;
}

.image {
  height: 300px;
  background-image: url('http://via.placeholder.com/300x300');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .row-1,
  .row-2,
  .row-3 {
    display: block;
    margin-bottom: 0;
  }

  .flex-card{
    margin-bottom: 20px;
  }
}


/*NAVIGATION BAR*/

nav {
  display: flex;
  line-height: 70px;
  margin: 0 auto 100px auto;
  width: 80%;
}

nav a {
  color: #666;
  font-size: 1.3rem;
  text-decoration: none;
}

.top-nav {
  background-color: #D1D2D3;
  padding: 20px;
}

.nav {
  background-color: #D1D2D3;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%;
}

.menu {
  display: none;
  font-size: 2.2rem;
}

.placeholder-img {
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 100%;
  height: 70px;
  width: 70px;
}

.search {
  border: 1px solid #666;
  background: url('./search.png') no-repeat 10px;
  background-color: #f2f2f2;
  background-size: 20px;
  font-size: 1.3rem;
  height: 50px;
  margin-top: 10px;
  padding-left: 40px;
  width: 25%;
}

@media screen and (max-width: 1100px) {
  nav {
    display: block;
    width: 80%;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .menu {
    color: #666;
    display: inherit;
  }

  .nav {
    display: none;
  } 

  .show {
    background-color: #e8e8e8;
    display: inherit;
    text-align: left;
    padding-left: 20px;
  }

  .show a {
    display: block;
    width: 100%;
  }

  .show .search {
    width: 90%;
  }
}